# COMPARACIÓN porcentual entre cluster Y PUNTAJES POR PERIODO
### FeatureBased(T) vs FeatureBased(P1)
### FeatureBased(T) vs FeatureBased(P2)

In [1]:
import json
import pandas as pd
import os

my_path = os.path.abspath('')
my_path = my_path.split('\\')
my_path_py = "\\".join(my_path[:-1])

grupo_clusterFB = pd.read_csv("ClusterFB1_2009al2013.csv")
#grupo_clusterFB = grupo_cluster.drop('Unnamed: 0', axis=1)
grupo_clusterRB = pd.read_csv(my_path_py+"\\1_RawBased\\ClusterRB_2009al2013.csv")
grupo_clusterRB = grupo_clusterRB.drop('Unnamed: 0', axis=1)

In [2]:
print(len(grupo_clusterRB))
print(len(grupo_clusterFB))

200
200

In [3]:
df_comp = pd.DataFrame()
df_comp['Distrito'] = grupo_clusterFB['Distrito']
df_comp['KM RB'] = grupo_clusterRB['Cluster KM']
df_comp['KM FB'] = grupo_clusterFB['Cluster KM']
df_comp['HAC RB'] = grupo_clusterRB['Cluster HAC ']
df_comp['HAC FB'] = grupo_clusterFB['Cluster HAC ']
df_comp['DB RB'] = grupo_clusterRB['Cluster DB SP']
df_comp['DB FB'] = grupo_clusterFB['Cluster DB SP']
df_comp

                 Distrito  KM RB  KM FB  HAC RB  HAC FB  DB RB  DB FB
0                ASUNCION      0      0       2       4      0      0
1     FERNANDO DE LA MORA      0      4       2       2      1     -1
2    PEDRO JUAN CABALLERO      0      3       2       1      0     -1
3                 YBY YAU      0      0       2       4      2     -1
4                   YPANE      0      3       2       1      2     -1
..                    ...    ...    ...     ...     ...    ...    ...
195             ISLA UMBU      0      0       2       4      2      0
196           VILLA OLIVA      2      0       0       4     -1      0
197       CARMELO PERALTA      1      0       4       4     -1      0
198           DESMOCHADOS      0      0       2       4      2      0
199        R I 3 CORRALES      0      0       2       4      2      0

[200 rows x 7 columns]

# Comparación RB y FB

In [4]:
df_comp['Match']= df_comp['KM RB'] == df_comp['KM FB']
print("Variación de valores del RawBased al Feature Based en K-Means: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['HAC RB'] == df_comp['HAC FB']
print("Variación de valores del RawBased al FeatureBased en Jerárquico Aglomerativo: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['DB RB'] == df_comp['DB FB']
print("Variación de valores del RawBased al FeatureBased en DBSCAN: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

Variación de valores del RawBased al Feature Based en K-Means:
36.5 %
Variación de valores del RawBased al FeatureBased en Jerárquico Aglomerativo:
88.5 %
Variación de valores del RawBased al FeatureBased en DBSCAN:
95.0 %

# Comparación por períodos FB

In [5]:
grupo_clusterFB1 = pd.read_csv("ClusterFB1_2009-2010-2011.csv")
grupo_clusterFB1 = grupo_clusterFB1.drop('Unnamed: 0', axis=1)
grupo_clusterFB2 = pd.read_csv("ClusterFB1_2012-2013.csv")
grupo_clusterFB2 = grupo_clusterFB2.drop('Unnamed: 0', axis=1)
print(len(grupo_clusterFB1))
print(len(grupo_clusterFB2))

181
189

In [6]:
#grupo_clusterFB1[['Distrito','Cluster KM']]
grupo_clusterFB1 = grupo_clusterFB1.rename(columns={"Cluster KM": "KM P1"})
grupo_clusterFB1 = grupo_clusterFB1.rename(columns={"Cluster HAC ": "HAC P1"})
grupo_clusterFB1 = grupo_clusterFB1.rename(columns={"Cluster DB SP": "DB P1"})
grupo_clusterFB2 = grupo_clusterFB2.rename(columns={"Cluster KM": "KM P2"})
grupo_clusterFB2 = grupo_clusterFB2.rename(columns={"Cluster HAC ": "HAC P2"})
grupo_clusterFB2 = grupo_clusterFB2.rename(columns={"Cluster DB SP": "DB P2"})
grupo_clusterFB1

                 Distrito  KM P1  HAC P1  DB P1
0                ASUNCION      0       0      0
1     FERNANDO DE LA MORA      0       0      1
2    PEDRO JUAN CABALLERO      2       5      1
3                 YBY YAU      5       0      1
4                   YPANE      0       0      0
..                    ...    ...     ...    ...
176              LAURELES      0       0      3
177           BUENA VISTA      0       0      3
178                  LIMA      0       0      3
179               HUMAITA      0       0      3
180       GENERAL DELGADO      0       0      3

[181 rows x 4 columns]

In [7]:
df_comp = pd.DataFrame()
df_comp['Distrito'] = grupo_clusterFB['Distrito']
df_comp['KM Total'] = grupo_clusterFB['Cluster KM']
df_comp = pd.merge(df_comp, grupo_clusterFB1[['Distrito','KM P1']], how="outer", on=["Distrito"])
df_comp = pd.merge(df_comp, grupo_clusterFB2[['Distrito','KM P2']], how="outer", on=["Distrito"])
df_comp['HAC Total'] = grupo_clusterFB['Cluster HAC ']
df_comp = pd.merge(df_comp, grupo_clusterFB1[['Distrito','HAC P1']], how="outer", on=["Distrito"])
df_comp = pd.merge(df_comp, grupo_clusterFB2[['Distrito','HAC P2']], how="outer", on=["Distrito"])
df_comp['DB Total'] = grupo_clusterFB['Cluster DB SP']
df_comp = pd.merge(df_comp, grupo_clusterFB1[['Distrito','DB P1']], how="outer", on=["Distrito"])
df_comp = pd.merge(df_comp, grupo_clusterFB2[['Distrito','DB P2']], how="outer", on=["Distrito"])
df_comp

,Distrito,KM Total,KM P1,KM P2,HAC Total,HAC P1,HAC P2,DB Total,DB P1,DB P2
0,ASUNCION,0,0.0,NaN,4,0.0,NaN,0,0.0,NaN
1,FERNANDO DE LA MORA,4,0.0,4.0,2,0.0,4.0,-1,1.0,0.0
2,PEDRO JUAN CABALLERO,3,2.0,5.0,1,5.0,2.0,-1,1.0,0.0
3,YBY YAU,0,5.0,0.0,4,0.0,5.0,-1,1.0,0.0
4,YPANE,3,0.0,3.0,1,0.0,0.0,-1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
195,ISLA UMBU,0,NaN,0.0,4,NaN,5.0,0,NaN,2.0
196,VILLA OLIVA,0,NaN,0.0,4,NaN,5.0,0,NaN,2.0
197,CARMELO PERALTA,0,NaN,0.0,4,NaN,5.0,0,NaN,2.0
198,DESMOCHADOS,0,NaN,0.0,4,NaN,5.0,0,NaN,2.0
199,R I 3 CORRALES,0,NaN,0.0,4,NaN,5.0,0,NaN,2.0

In [8]:
df_comp['Match']= df_comp['KM Total'] == df_comp['KM P1']
print("Variación de valores del Total al P1 en K-Means: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['HAC Total'] == df_comp['HAC P1']
print("Variación de valores del Total al P1 en Jerárquico Aglomerativo: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['DB Total'] == df_comp['DB P1']
print("Variación de valores del Total al P1 en DBSCAN: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

Variación de valores del Total al P1 en K-Means:
24.0 %
Variación de valores del Total al P1 en Jerárquico Aglomerativo:
98.5 %
Variación de valores del Total al P1 en DBSCAN:
88.0 %

In [9]:
df_comp['Match']= df_comp['KM Total'] == df_comp['KM P2']
print("Variación de valores del Total al P2 en K-Means: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['HAC Total'] == df_comp['HAC P2']
print("Variación de valores del Total al P2 en Jerárquico Aglomerativo: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

df_comp['Match']= df_comp['DB Total'] == df_comp['DB P2']
print("Variación de valores del Total al P2 en DBSCAN: ")
print(df_comp['Match'].value_counts()[False]/200*100, "%")

Variación de valores del Total al P2 en K-Means:
12.5 %
Variación de valores del Total al P2 en Jerárquico Aglomerativo:
93.0 %
Variación de valores del Total al P2 en DBSCAN:
87.0 %

In [11]:
SCORE_P1 = pd.read_csv('Scores1_FeatureBased09-10-11.csv')
SCORE_P1 = SCORE_P1.drop('Unnamed: 0', axis=1)
SCORE_P1 = SCORE_P1.rename(columns={"SIL - HAC": "P1 HAC", "SIL - KM": "P1 KM", "SIL - DB": "P1 DB"})

SCORE_P2 = pd.read_csv('Scores1_FeatureBased12-13.csv')
SCORE_P2 = SCORE_P2.drop('Unnamed: 0', axis=1)
SCORE_P2 = SCORE_P2.rename(columns={"SIL - HAC": "P2 HAC", "SIL - KM": "P2 KM", "SIL - DB": "P2 DB"})

SCORE_T = pd.read_csv('Scores1_FeatureBasedK6.csv')
#SCORE_T = SCORE_T.drop('Unnamed: 0', axis=1)

SCORE_SIL = SCORE_T.copy()
SCORE_SIL = SCORE_SIL.drop(SCORE_SIL.columns[4:] , axis=1)
SCORE_SIL = SCORE_SIL.rename(columns={"SIL - HAC": "TOTAL HAC", "SIL - KM": "TOTAL KM", "SIL - DB": "TOTAL DB"})
SCORE_SIL['P1 HAC'] = SCORE_P1[['P1 HAC']]
SCORE_SIL['P2 HAC'] = SCORE_P2[['P2 HAC']]
SCORE_SIL['P1 KM'] = SCORE_P1[['P1 KM']]
SCORE_SIL['P2 KM'] = SCORE_P2[['P2 KM']]
SCORE_SIL['P1 DB'] = SCORE_P1[['P1 DB']]
SCORE_SIL['P2 DB'] = SCORE_P2[['P2 DB']]
SCORE_SIL = SCORE_SIL[['METRICA', 'P1 HAC','P2 HAC','TOTAL HAC','P1 KM','P2 KM','TOTAL KM', 'P1 DB','P2 DB','TOTAL DB', ]]

## Comparación Puntaje Silhouette por periodo

In [12]:
SCORE_SIL

,METRICA,P1 HAC,P2 HAC,TOTAL HAC,P1 KM,P2 KM,TOTAL KM,P1 DB,P2 DB,TOTAL DB
0,Euclidean Distance,0.846685,0.829996,0.836977,0.832040,0.858033,0.863019,0.318910,0.281333,0.381371
1,Pearson Correlation,0.642121,0.612154,0.614693,0.658621,0.656685,0.646519,0.667939,0.574954,0.320268
2,Spearman Correlation,0.564266,0.591230,0.571987,0.575504,0.591230,0.601930,0.585500,0.609843,0.592432
3,Dynamic Time Warping,0.841338,0.857378,0.827022,0.825812,0.855784,0.861052,0.039724,-0.012618,0.517592

## Comparación Puntaje CHZ por periodo

In [13]:
SCORE_CHZ = SCORE_T.copy()
SCORE_CHZ = SCORE_CHZ.drop(SCORE_CHZ.columns[1:4] , axis=1)
SCORE_CHZ = SCORE_CHZ.drop(SCORE_CHZ.columns[4:] , axis=1)
SCORE_CHZ = SCORE_CHZ.rename(columns={"CHZ - HAC": "TOTAL HAC", "CHZ - KM": "TOTAL KM", "CHZ - DB": "TOTAL DB"})
SCORE_CHZ['P1 HAC'] = SCORE_P1[['CHZ - HAC']]
SCORE_CHZ['P2 HAC'] = SCORE_P2[['CHZ - HAC']]
SCORE_CHZ['P1 KM'] = SCORE_P1[['CHZ - KM']]
SCORE_CHZ['P2 KM'] = SCORE_P2[['CHZ - KM']]
SCORE_CHZ['P1 DB'] = SCORE_P1[['CHZ - DB']]
SCORE_CHZ['P2 DB'] = SCORE_P2[['CHZ - DB']]
SCORE_CHZ = SCORE_CHZ[['METRICA', 'P1 HAC','P2 HAC','TOTAL HAC','P1 KM','P2 KM','TOTAL KM', 'P1 DB','P2 DB','TOTAL DB', ]]
SCORE_CHZ

,METRICA,P1 HAC,P2 HAC,TOTAL HAC,P1 KM,P2 KM,TOTAL KM,P1 DB,P2 DB,TOTAL DB
0,Euclidean Distance,10891.901041,3534.601906,2742.276633,12263.621881,3991.419542,3238.982031,4.670974,6.908619,14.568195
1,Pearson Correlation,1315.480494,1821.950897,1807.267371,1489.735212,2142.559688,2178.141311,566.711772,688.837526,426.200814
2,Spearman Correlation,294.845207,342.558993,386.430859,315.196749,342.558993,396.536422,199.343429,179.269322,158.976210
3,Dynamic Time Warping,10310.072705,3921.492066,2699.310719,11631.059909,3981.446681,3164.737066,2.611560,4.440727,31.070024

In [14]:
SCORE_T.drop(SCORE_T.columns[1:10] , axis=1)

                METRICA  DAVID - HAC  DAVID - KM  DAVID - DB
0    Euclidean Distance     0.395113    0.331150    1.129731
1   Pearson Correlation     0.456257    0.459062    0.514661
2  Spearman Correlation     0.715892    0.694827    1.040799
3  Dynamic Time Warping     0.348792    0.329847    1.213330

In [15]:
SCORE_DAVIES = SCORE_T.copy()
SCORE_DAVIES = SCORE_DAVIES.drop(SCORE_DAVIES.columns[1:10] , axis=1)
SCORE_DAVIES = SCORE_DAVIES.rename(columns={"DAVID - HAC": "TOTAL HAC", "DAVID - KM": "TOTAL KM", "DAVID - DB": "TOTAL DB"})
SCORE_DAVIES['P1 HAC'] = SCORE_P1[['DAVID - HAC']]
SCORE_DAVIES['P2 HAC'] = SCORE_P2[['DAVID - HAC']]
SCORE_DAVIES['P1 KM'] = SCORE_P1[['DAVID - KM']]
SCORE_DAVIES['P2 KM'] = SCORE_P2[['DAVID - KM']]
SCORE_DAVIES['P1 DB'] = SCORE_P1[['DAVID - DB']]
SCORE_DAVIES['P2 DB'] = SCORE_P2[['DAVID - DB']]
SCORE_DAVIES = SCORE_DAVIES[['METRICA', 'P1 HAC','P2 HAC','TOTAL HAC','P1 KM','P2 KM','TOTAL KM', 'P1 DB','P2 DB','TOTAL DB', ]]
SCORE_DAVIES

,METRICA,P1 HAC,P2 HAC,TOTAL HAC,P1 KM,P2 KM,TOTAL KM,P1 DB,P2 DB,TOTAL DB
0,Euclidean Distance,0.154938,0.371988,0.395113,0.212012,0.330656,0.331150,1.401499,1.313976,1.129731
1,Pearson Correlation,0.468586,0.485185,0.456257,0.470706,0.471092,0.459062,0.467104,0.418301,0.514661
2,Spearman Correlation,0.697113,0.683844,0.715892,0.679738,0.683844,0.694827,0.907627,1.102520,1.040799
3,Dynamic Time Warping,0.154000,0.333138,0.348792,0.212623,0.329470,0.329847,1.479790,1.406080,1.213330